body {
    display: block;
    max-width: 100%;
}

.container-fluid {
    padding-top: 200px;
    max-width: 100%;
}

#add-artist {
    margin: 10px;
}

#input-artist {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #08f;
    text-shadow: 0 0 0 #000;
    min-width: 100px;
    max-width: 160px;
    width: 100%;
}

#favorite {
    margin-top: 100px;
    background: pink;
    text-align: center;
}

.artistBtn { 
    background: #F4F4F4;
    padding:10px;
    margin: 5px;
}

#showBtn {
    padding-top: 50px;
    text-align: center;
    background: orange;
}

#showBtn {
    margin-top:50px;
}

#list-items {
    font-size: 20px;
    text-align: center;
}

.col-md-2 {
    margin: 20px;
}

img {
    /* height: 100px;
    width: 100px; */
    border-radius: 50px;
    /* margin-bottom: 10px; */
}

ul {
    list-style-type: none;
  }

@media (max-width: 500px) {
    .col-md-4 {
        max-width: 100%;
    }
}



/* 
  @media (max-width: 500px) {
      .video-responsive iframe {
          width:"300px";
          height:"200px";
          position:absolute;
      }
  }